# Production VPS Backend API Base URL
EXPO_PUBLIC_API_URL=https://backend.servizuae.com/api/v1

# Google Auth Client Credentials
EXPO_PUBLIC_GOOGLE_CLIENT_ID=283863108984-vmlc6g0cfqrhqdvnkjriqtv692jiqd1g.apps.googleusercontent.com

# App Secret Key for backend middleware verification
EXPO_PUBLIC_APP_SECRET=SERVIZ_APP_PROD_SECRET_KEY_2026
